<!DOCTYPE html>
<html>
	<head>
		<title>Daily Planner</title>
		<meta charset="UTF-8">
	  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	  	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	  	<link rel="stylesheet" type="text/css" href="/styles.css">

	  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	  	<link href="https://fonts.googleapis.com/css?family=Patua+One|Permanent+Marker" rel="stylesheet">

	</head>
	<body>

	<nav class="navbar navbar-expand-lg navbar-light">
	  <a class="navbar-brand" href="/">Daily Planner</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav ml-auto">
	    	<% if(!locals.user) { %>
				<li class="nav-item">
				<a class="nav-link" data-toggle='modal' data-target='#sign_up_modal'>Sign In</a>
				</li>
				<li class="nav-item">
				<a class="nav-link btn" data-toggle='modal' data-target='#log_in_modal'>Log In</a>
				</li>
			<% } else { %>
				<li class="nav-item">
				<a class="nav-link" data-toggle='modal' data-target='#sign_up_modal'><%= locals.user.username %></a>
				</li>
				<li class="nav-item">
				<a class="nav-link btn" id='log_out_btn'>Log out</a>
				</li>
			<% } %>
	    </ul>
	  </div>
	</nav>




	<!-- Sign up modal -->
	<div class="modal fade" id="sign_up_modal" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Sign Up</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <form>
	        	<div class="form-group">
	        		<label for='sign_up_username'>Name: </label>
		        	<input type="text" id='sign_up_username' placeholder='Username'>
		        </div>
		        <div class="form-group">
		        	<label for='sign_up_password'>Password</label>
		        	<input type="password" id="sign_up_password" placeholder='Password'>
		        </div>
	        </form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        <button type="button" id='sign_up_modal_btn' class="btn btn-primary" data-dismiss='modal'>Submit</button>
	      </div>
	    </div>
	  </div>
	</div>


	<!-- Log in modal -->
	<div class="modal fade" id="log_in_modal" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Log In</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <form>
	        	<div class="form-group">
	        		<label for='sign_up_username'>Name: </label>
		        	<input type="text" id='log_in_username' placeholder='Username'>
		        </div>
		        <div class="form-group">
		        	<label for='sign_up_password'>Password</label>
		        	<input type="password" id="log_in_password" placeholder='Password'>
		        </div>
	        </form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        <button type="button" id='log_in_modal_btn' class="btn btn-primary" data-dismiss='modal'>Submit</button>
	      </div>
	    </div>
	  </div>
	</div>